# build output
dist/
# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# sst build output
.build
.sst
.sst.config.*.mjs

# sensitive env files
.env.*.local

# macOS-specific files
.DS_Store

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/*.code-snippets
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
