---
import Layout from '../layouts/Layout.astro';
import type { Brewery } from '../types';

export interface Props {
  brewery: Brewery;
}

const { brewery } = Astro.props;
---

<Layout title={brewery.name}>
  <h1>{brewery.name}</h1>
  <p>{brewery.website_url}</p>
</Layout>
